.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
  }

  .hotspot{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: none;
    background-color: purple;
    box-sizing: border-box;
    pointer-events: none;
  }

  .hotspot[slot="hotspot-hand"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));

  }

  .hotspot[slot="hotspot-hand1"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));

  }

  .hotspot[slot="hotspot-hand2"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));
  }  


  .hotspot[slot="hotspot-hand3"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));
  }  

  .hotspot[slot="hotspot-hand4"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));

  }  

  .hotspot[slot="hotspot-hand5"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));

  }  

  .hotspot[slot="hotspot-hand6"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));
  }  

  .hotspot[slot="hotspot-hand7"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));
  } 

  .hotspot[slot="hotspot-hand8"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));
  } 
  
  .hotspot[slot="hotspot-hand9"]{
    --min-hotspot-opacity: 0;
    background-color: purple;
    background-image: linear-gradient(to bottom right, rgb(221, 0, 255), rgb(68, 68, 68));
  } 

  .view-button {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
}

.progress-bar{
  background-color: #8B5FBF;
}

